# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Dependencies
Pods/
Carthage/Build/
.build/

# Swift Package Manager
.swiftpm/
Package.resolved

# CocoaPods
Podfile.lock

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# OS Files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# IDE
*.swp
*~
*.idea/
*.xcuserstate
xcuserdata/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Temporary files
*.orig
*.tmp
